In [59]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [60]:
df=sns.load_dataset('tips')
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [61]:
df.shape

(244, 7)

In [62]:
x=df.drop(['total_bill'],axis=1)

In [63]:
y=df['total_bill']

In [64]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.25,random_state=42)

In [65]:
from sklearn.preprocessing import LabelEncoder

In [66]:
le1=LabelEncoder()
x_train['sex']=le1.fit_transform(x_train['sex'])
x_test['sex']=le1.transform(x_test['sex'])

In [67]:
le2=LabelEncoder()
x_train['smoker']=le1.fit_transform(x_train['smoker'])
x_test['smoker']=le1.transform(x_test['smoker'])

In [68]:
le3=LabelEncoder()
x_train['time']=le1.fit_transform(x_train['time'])
x_test['time']=le1.transform(x_test['time'])

In [69]:
df['day'].value_counts()

day
Sat     87
Sun     76
Thur    62
Fri     19
Name: count, dtype: int64

In [ ]:
from sklearn.preprocessing import OneHotEncoder
encoder=OneHotEncoder()
one_hot_encoded=encoder.fit_transform(x_train[['day']]).toarray()
one_hot_df = pd.DataFrame(one_hot_encoded, columns=encoder.get_feature_names_out(),index=x_train.index)
x_train=pd.concat([x_train,one_hot_df],axis=1).drop(columns=['day'])

In [73]:

one_hot_encoded=encoder.transform(x_test[['day']]).toarray()
one_hot_df = pd.DataFrame(one_hot_encoded, columns=encoder.get_feature_names_out(),index=x_test.index)
x_test=pd.concat([x_test,one_hot_df],axis=1).drop(columns=['day'])

In [74]:
x_test

      tip  sex  smoker  time  size  day_Fri  day_Sat  day_Sun  day_Thur
24   3.18    1       0     0     2      0.0      1.0      0.0       0.0
6    2.00    1       0     0     2      0.0      0.0      1.0       0.0
153  2.00    1       0     0     4      0.0      0.0      1.0       0.0
211  5.16    1       1     0     4      0.0      1.0      0.0       0.0
198  2.00    0       1     1     2      0.0      0.0      0.0       1.0
..    ...  ...     ...   ...   ...      ...      ...      ...       ...
172  5.15    1       1     0     2      0.0      0.0      1.0       0.0
242  1.75    1       0     0     2      0.0      1.0      0.0       0.0
152  2.74    1       0     0     3      0.0      0.0      1.0       0.0
231  3.00    1       1     0     3      0.0      1.0      0.0       0.0
155  5.14    0       0     0     5      0.0      0.0      1.0       0.0

[61 rows x 9 columns]

In [75]:
from sklearn.svm import SVR
model=SVR()

In [76]:
model.fit(x_train,y_train)
y_pred=model.predict(x_test)

In [77]:
from sklearn.metrics import r2_score,mean_absolute_error
print(r2_score(y_test,y_pred))

0.4974038696417853